        body{
            width: 800px;
            margin:0 auto;
            padding: 0;
        }
        #header_wrapper {
            margin:0 auto;
            padding:0;
            background: url('images/banner.jpg') no-repeat right;
            width: 100%;
            height: 226px;
        }
        #header {
            width: 500px;
            margin: 0px 30px;
            padding: 30px 15px;
            border-bottom: 0px solid #ccc;
            text-align: left;
            color: white;
            padding-top: 150px;
            padding-bottom: 0px;
        }
        #header h1 {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        #content_wrapper {
            margin: 10px auto 0px; 
            width: 100%;
            min-height: 500px;
        }
        #settings_table {
            width: 500px;
            margin: 20px auto;
            padding-bottom: 15px;
        }
        #settings_table .tLabel {
            width: 125px;
            color: #666;
            text-align: right;
        }
        #settings_table input[type='text'] {
            width: 99%;
            font-size: 1.1em;
        }

        #settings_table select {
            width: 100%;
            font-size: 1.1em;
        }

        #results {
            width: 600px; 
            margin: 10px auto;        
        }

        #downloads { 
            padding: 15px; 
            color: #666; 
            width: 600px; 
            margin: 10px auto;
            min-height: 200px;
            border: 0px #ccc solid;
        }
        #downloads table { 
            width: 100%;
        }
        #downloads table th {
            border-bottom:1px solid #ccc;
            font-weight: bold;
        }
        #downloads table td {
            border-bottom:1px dotted #ccc;
        }
        #downloads .size { 
            color: #666;  
            float: right; 
            padding-right: 10px;
        }
        #downloads a {
            color: inherit;
            text-decoration: none;
        }
        #downloads a:hover {
            color: forestgreen;
            text-decoration: none;
        }
        #downloads a:visited {
            text-decoration: none;
        }
        #footer_wrapper {
            border-top: 1px solid #ccc;
            width: 100%;
            height: 40px;
            margin: 0 auto;
            padding: 10px 0;
        }
        #serverInfo {
            float: right;
            font-size: x-small;
            color: ghostwhite;
        }
        #userInfo {
            float: left;
            font-size: x-small;
            color: #666;
        }
        #middle_footer {
            text-align: center;
        }
