<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>

    <!--######################################################
            Required settings
    #######################################################-->

    <!--  Specify the url to Github root path -->
    <add key="github_root_url" value="api.github.com" />

    <!--######################################################
            Optional settings
    #######################################################-->

    <!--  Auth token used to authenticate to GitHub -->
    <add key="auth_token" value="" />

    <!--  Custom name of this Website  -->
    <add key="app_title" value="PowerShell Online Signing" />

    <!--  Default repository owner for home page link -->
    <add key="default_owner" value="dscoduc" />

    <!--  Default repository name for home page link -->
    <add key="default_repository" value="" />

    <!--  How long in minutes to hold request cache data -->
    <add key="cache_timeout_min" value="30" />

    <!--  Custom user-agent provided to GitHub -->
    <add key="user_agent" value="curl/7.43.0" />

    <!--  RegEx list of file extensions to display in results -->
    <add key="approved_extensions" value="^.+\.((ps1)|(PS1))$" />

    <!--######################################################
      Configure Log4net to use an external configuration file 
    #######################################################-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />

  </appSettings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Management.Automation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!-- Specify 'Off or RemoteOnly or On' for customErrors mode -->
    <customErrors mode="RemoteOnly" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="serverHeaderModule" type="PowerShellOnlineSigningService.serverHeaderModule, PowerShellOnlineSigningService" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <access sslFlags="None" />
      <authentication>
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
    <!-- 
    The web server must have URLRewrite installed 
    to support this section.
    -->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS Rewrite" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="false" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
